<section class="video">
  <!-- <iframe src="https://drive.google.com/file/d/1KlBbHZQYvWpFlP3sTTe6kxtAA83v7oGa/preview"
allow="autoplay" allowfullscreen></iframe> -->
<video controls>
  <source src="https://raw.githubusercontent.com/PedroPog/video-projeto/main/0701%20-%20Material%20x%20Cupertino.mp4" type="video/mp4"/>
</video>

  <section class="informacoes">
    <h1>{{title}}</h1>
    <h5>{{subtitle+" ano:"+year}}</h5>
    <span>{{descricao}}</span>
  </section>
</section>
<section class="chat">

</section>
